/* Type your code here */


/* change the font family and spacing as per your project font */
.footer{
    display:flex;
    flex-direction: row;
    align-content: flex-end;
	position: relative;
	top: 750px;
	margin-left: 80px;
	font-size: 18px;
	font-family: Nunito Sans;
    font-style: normal;
    
}