* {
	margin: 0;
	padding: 0;
	font-family: 'Urbanist',
		sans-serif;
}

.container {
	height: 100vh;
	width: 100%;
	position: relative;
}

.title {
	position: absolute;
	top: 30px;
	left: 45px;
}

.maintitle {
	font-size: 50px;
	font-weight: 800;
	text-shadow: 0.5px 3px gray;
}

.subtitle {
	color: gray;
	font-size: 30px;
}

.bg {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	z-index: -1;
}

.logo {
	position: absolute;
	top: 50px;
	right: 50px;
}

table {
	position: absolute;
	top: 150px;
	left: 40px;
	border-collapse: collapse;
	font-weight: 700;
	width: 60vw;
	height: 65vh;
	background-color: white;
	font-size: 18px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

td {
	border-bottom: 1px solid #ccc;
	padding: 0 10px;
}

tr:last-child>td {
	border-bottom: none;
}

td {
	text-align: right;
}

td:first-child,
td:nth-of-type(2) {
	text-align: left;
}

tr:first-child {
	background-color: orangered;
	border: 1px solid orangered;
	color: white;
}

.popuptext {
	color: blue;
	font-weight: 400;
	cursor: pointer;
}

.out {
	color: gray;
	font-weight: 400;
}

.popupbg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;
}

.popup {
	height: 80vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

/* change the font family and spacing as per your project font */
.footer {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	position: absolute;
	top: 700px;
	margin-left: 80px;
	font-size: 18px;
	font-style: normal;
}